.asi-ecommerce-module {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .asi-homepage-module-h2 {
    margin: 50px auto 38px auto;
    @include susy-media(850px) {
      margin: 85px auto 38px auto;
    }

    .asi-homepage-module-subhead {
      font-family: 'ProximaNova-Regular';
      font-size: 14px;
      line-height: 28px;
      text-transform: none;
      letter-spacing: 0em;
      margin: auto;
      padding: 0px 20px;
      @include susy-media(850px) {
        font-size: 16px;
      }
    }

    .asi-red-separator {
      margin: 26px auto 44px auto;
    }
  }

  .asi-ecommerce-module-grid {

    .asi-ecommerce-module-carousel {
      @include clearfix();

      .asi-ecommerce-module-carousel-items {

        .slick-prev {
          display: none !important;
          left: 25px;
          background: url("/assets/svg/arrow-icon-tall-previous.svg") no-repeat;
          height: 57px;
          &:before {
            content: ""
          }
          @include susy-media(1200px) {
            display: block !important;
          }
          @include susy-media(1260px 1320px) {
            left: -25px;
          }
          @include susy-media(1320px) {
            left: -55px;
          }
        }

        .slick-next {
          display: none !important;
          right: 25px;
          background: url("/assets/svg/arrow-icon-tall-next.svg")no-repeat;
          height: 57px;
          &:before {
            content: ""
          }
          @include susy-media(1200px) {
            display: block !important;
          }
          @include susy-media(1260px 1320px) {
            right: -25px;
          }
          @include susy-media(1320px) {
            right: -55px;
          }
        }

        .slick-dots {
          bottom: -44px;
          li {
            margin: 0;
          }
        }

        .slick-dots li button:before {
          font-size: 10px;
          opacity: 1;
          color: #cccccc;
        }

        .slick-dots li.slick-active button:before {
          opacity: 1;
          color: #4c4c4c;
        }

        .asi-ecommerce-module-carousel-item {
          margin-right: 10px;
          margin-left: 10px;
          text-align: center;
          position: relative;

          .asi-ecommerce-module-carousel-keyline {
            border: 1px solid $gray-medium-2;
            width: 200px !important;
            height: 220px !important;
            @include susy-media(850px) {
              width: 380px !important;
              height: 300px !important;
            }
          }


          img {
            @include vertical-align(relative);
            margin: 0 auto;
            max-width: 90%;
            width: auto;
            height: auto;
            max-height: 120px;
            top: 44%;
            @include susy-media(850px) {
              max-width: 90%;
              max-height: 186px;
              top: 50%;
            }
            @include susy-media(1200px) {
              max-width: 90%;
              max-height: 186px;
            }
          }

          .asi-ecommerce-module-carousel-item-title {
            position: absolute;
            bottom: 10px;
            left: 10px;
            font-size: 12px;
            max-width: 125px;
            text-align: left;
            line-height: 14px;
            @include susy-media(850px) {
              font-size: 16px;
              line-height: 16px;
              bottom: 18px;
              left: 18px;
              max-width: 250px;
            }
          }

          .asi-ecommerce-module-carousel-item-price {
            position: absolute;
            bottom: 10px;
            right: 10px;
            font-family: "ProximaNova-Regular";
            font-size: 10px;
            line-height: 16px;
            @include susy-media(850px) {
              font-size: 14px;
              bottom: 18px;
              right: 18px;
            }
          }

          .asi-ecommerce-module-sale-flag {
            position: absolute;
            width: 50px;
            height: 20px;
            padding-top: 5px;
            background-color: #EE3D42;
            top: 10px;
            left: 0px;
            color: #fff;
            font-family: "ProximaNova-SemiBold";
            font-size: 12px;
            line-height: 12px;
            text-transform: uppercase;
            display: none;
          }

          &.sale {
            .asi-ecommerce-module-sale-flag {
              display: block;
            }
            .asi-ecommerce-module-carousel-item-price {
              color: #EE3D42;
            }
          }
        }


      }
    }

    .asi-ecommerce-module-footer {
      width: 100%;
      text-align: center;
      margin: 64px auto 50px auto;
      @include susy-media(850px) {
        margin: 64px auto 100px auto;
      }
    }

  }
}
