.asi-utility-menu {
  display: none;
  @include susy-media(850px) {
    display: block;
  }
  margin: 0 auto;
  font-family: 'ProximaNova-SemiBold';
  font-size: 12px;
  height: 33px;
  letter-spacing: .03em;
  position: relative;
  @include clearfix();
  max-width: 1920px;

  &.no-transition { transition: none !important; }
  &.collapsed {
    position:fixed;
    top:0;
    right:0;
    width:100%;
    transform:translateY(-52px);
    transition: transform .25s;
    background-color:#fff;
    &.show {
      transform: translateY(0);
    }
  }

  .zipcode {
    color: $red;
  }

  ul {
    display: block;
    position: absolute;
    height: 33px;
    right: 0;
    left: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    top: 0;

    > li {
      display: inline-block;
      float: left;
      height: 33px;
      padding-top: 10px;

      a {
        @include animate(.33s);
        display: block;
        color: $black;
        text-decoration: none;
        padding: 0;
        margin: 0;

        span {
          float:right;
          padding-left:6px
        }

        .asi-icon {
          display: inline-block;
          margin-left: 20px;
          width:12px;
          height:12px;

          &#order-tracking-icon {
            width:14px;
            height:14px;
          }
          &#location-icon {
            width:11px;
            height:11px;
            transform:translateY(-1px);
          }
          &#wishlist-icon {
            width:12px;
            height:12px;
            transform:translateY(1px);
          }
          &#my-account-icon {

          }
        }
        &:hover {
          color: $gray-hover;
          .asi-icon {
            svg path {
              @include animate(.33s);
              fill: $gray-hover;
            }
          }
        }
      }
      &:last-child {
        margin-right: $headerRightMarginNarrow;
        @include susy-media(1000px) {
          margin-right: $headerRightMarginMedium;
        }
        @include susy-media(1200px) {
          margin-right: $headerRightMarginWide;
        }
      }

      //this creates the Up Arrow element for the dropdown menus that point to the active nav item
      &.clicked:after {
        content: "";
        background: url('/assets/images/triangle.png') no-repeat;
        display: block;
        width: 38px;
        height: 19px;
        margin: 0 auto;
        top: -14px;
        @include susy-media(850px) {
          margin-top: 0;
        }
        @include susy-media(1000px) {
          margin-top: 0;
        }
        position: relative;
        z-index: 20;
      }
    }
  }
}
