#asi-category-masthead{ 
    font-size: 1.75em;
}
#asi-category-hero{
    display: flex;
    align-items: center;
    /*min-height: 500px;*/
    width:100%;
}
#asi-category-hero > img.img-responsive{
    width:100%;
}
.asi-category-headline{ 
    position:absolute;
    z-index:2;
    width:100%;
    margin:0 auto; 
}
.asi-category-headline .asi-display-1,
.asi-category-headline h1.asi-display-1,
.asi-display-1,
h1.asi-display-1{  
    font-size:90px;
    font-family:'Knockout-HTF49-Liteweight','ProximaNova-Bold',sans-serif;
    margin:0 auto;
    text-align:center;
    padding:0;
    line-height:100%;
    height:100px;
}
.asi-category-headline .asi-display-1,
.asi-category-headline h1.asi-display-1,
.asi-display-1,
h1.asi-display-1{  
    font-size:90px;
    font-family: $brand-font-ko49;
    margin:0 auto;
    text-align:center;
    padding:0;
    line-height:1;
}
.asi-text-shadow-1{ text-shadow:1px 1px 5px #121212; }
.asi-content-body{
    padding-top: $asi-base-fontsize;
    padding-bottom: $asi-base-fontsize;
}
#asi-category-intro p{
    padding:0.375em 2.225em 0em;
    font-family:'ProximaNova-Regular',sans-serif;
    font-weight:400;
    font-size:1.225em;
    letter-spacing:1.5px;
    line-height:1.625;
    color: $brand-gray;
}