$white: #FFF;
$black: #181818;
$red: #ee3d42;
$red-dark: #DB0006;
$gray-light: #e9e9e9;
$gray-dark: #4a4a4a;
$gray-very-dark: #393939;
$gray-medium: #a7a7a7;
$gray-medium-light: #f4f4f4;
$gray-hover: #9b9b9b;
$gray-medium-2: #cfcfcf;

$serifFont: Georgia, Times, serif;
$nonserifFont: 'ProximaNova-Regular', Verdana, Helvetica, Arial, sans-serif;

$select-dropdown-padding-top: 8px;
$select-dropdown-padding-bottom: 8px;
$select-dropdown-padding-right: 34px;
$select-dropdown-padding-left: 14px;

$mainMenuHeightCollapsed: 52px;
$MainMenuHeight: 93px;
$MainMenuHeightNarrow: 71px;
$MainMenuHeightWide: 93px;


$headerRightMarginNarrow: 20px;
$headerRightMarginMedium: 25px;
$headerRightMarginWide: 35px;
