@font-face {
    font-family: 'ProximaNova-Light';
    src: url('/assets/fonts/ProximaNova-Light.otf');
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('/assets/fonts/ProximaNova-Regular.otf');
}

@font-face {
    font-family: 'ProximaNova-SemiBold';
    src: url('/assets/fonts/ProximaNova-Semibold.otf');
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('/assets/fonts/ProximaNova-Bold.otf');
}

@font-face {
    font-family: 'Knockout-HTF49-Liteweight';
    src: url('/assets/fonts/Knockout-HTF49-Liteweight.otf');
}

@font-face {
    font-family: 'Knockout-HTF29-JuniorLiteweight';
    src: url('/assets/fonts/Knockout-HTF29-JuniorLiteweight.otf');
}

@font-face {
    font-family: 'ProximaNova-RegularItalic';
    src: url('/assets/fonts/ProximaNova-RegularItalic.otf');
}

@font-face {
    font-family: 'ProximaNova-LightItalic';
    src: url('/assets/fonts/ProximaNova-LightItalic.otf');
}
